<table class="table" *ngIf="transactions">
  <thead>
    <th scope="col">#</th>
    <th scope="col">amount</th>
    <th scope="col">date(mm-dd-yyyy)</th>
    <th scope="col">description</th>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <th scope="row">{{ transaction.transactionId }} </th>
      <td>{{ transaction.amount }}</td>
      <td>{{ transaction.date }}</td>
      <td>{{ transaction.description }}</td>
    </tr>

  </tbody>

</table>
<app-transaction-form-modal></app-transaction-form-modal>