<div class="page-header" style="margin-top: 10px; margin-left: 10px;">
    <h1> Dashboard <small>Admin</small></h1>
  </div>
  <div id="root-container">
  <app-navigator></app-navigator> 
  <div id="routing-content" class="container">
    <router-outlet></router-outlet>
  </div>
</div>
