<!-- Button trigger modal -->

<i class="material-icons btn btn-primary" data-toggle="modal" data-target="#incomeFormModal" style="float: right;" >
    add_circle_outline
    </i>

<!-- Modal -->
<div class="modal fade" id="incomeFormModal" tabindex="-1" role="dialog" aria-labelledby="incomeFormModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="incomeFormModalLabel">Create Transaction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="modal-body form-group">
              
          <div class="form-group row">
            <label for="amount" class="col-sm-2 col-form-label">Amount</label>
            <div class="col-sm-10">                        
                <input id="amount" type="text" class="form-control" formControlName="amount">
            </div>
          </div>
          <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">                        
                <input id="description" type="text" class="form-control" formControlName="description">
            </div>
          </div>
          <div class="form-group row">
            <label for="holding" class="col-sm-2 col-form-label">Holding</label>
            <div class="col-sm-10">                        
                <select id="holding" class="form-control" formControlName="holding">
                    <option *ngFor="let holding of holdings" value="{{ holding.holding_value }}" >{{ holding.holding_name }}</option>
                </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="paymentMode" class="col-sm-2 col-form-label">Payment-Mode</label>
            <div class="col-sm-10"> 
                <input id="paymentMode" type="text" class="form-control" formControlName="paymentMode">                       
               <!-- <select id="paymentMode" class="form-control" formControlName="paymentMode">
                    <option *ngFor="paymentMode of paymentModes">{{ paymentModes.paymentMode_name }} </option>
                </select>-->
            </div>
          </div>
          <div class="form-group row">
            <label for="block" class="col-sm-2 col-form-label">Block</label>
            <div class="col-sm-10">                        
                <select id="block" class="form-control" formControlName="block">
                    <option *ngFor="let block of blocks">{{ block.block_name }}</option>
                </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="flat_no" class="col-sm-2 col-form-label">Flat</label>
            <div class="col-sm-10">                        
                <input id="flat_no" type="text" class="form-control" formControlName="flat_no">
            </div>
          </div>
          <div class="form-group row">
              <label for="date" class="col-sm-2 col-form-label">Date</label>
              <div class="col-sm-10">                        
                  <input id="date" type="text" class="form-control" formControlName="date">
              </div>
            </div>
          <div class="form-group row">
              <label for="type" class="col-sm-2 col-form-label">Type</label>
              <div class="col-sm-10">                        
                  <!--<input id="type" type="text" class="form-control" formControlName="type">-->
                  <select id="type" class="form-control" formControlName="type">
                      <option>Credit</option>
                      <option>Debit</option>
                  </select>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" type="submit" [disabled]="!profileForm.valid">Save changes</button>
        </div>
      </form>
    <!--<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="modal-body form-group">
        <label for="amount" class="control-label">
          Amount:
          <input id="amount" type="text" formControlName="amount">
        </label>
        
          <label for="description" class="control-label">
            Description:
            <input type="text" id="description" formControlName="description">
          </label>

          <label class="control-label">
            Holding:
            <input type="text" formControlName="holding">
          </label>

          <label class="control-label">
            PaymentMode:
            <input type="text" formControlName="paymentMode">
          </label>

          <label class="control-label">
            Source:
            <input type="text" formControlName="user">
          </label>

          <label class="control-label">
            Type:
            <input type="text" formControlName="type">
          </label>
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="submit" [disabled]="!profileForm.valid">Save changes</button>
      </div>
    </form>-->
    </div>
  </div>
</div>  