
<nav>
    <ul class="nav nav-tabs" id="user-actions">
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="material-icons">
                        person
                    </i>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a routerLink="">Profile</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a routerLink="">Logout</a></li>
                </ul>
              </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="">
            <i class="material-icons" data-toggle="tooltip" data-placement="right" title="Home" >
                home
              </i>
              </a>
          </li>
      <li class="nav-item">
      <a class="nav-link" routerLink="/manage/users">
      <i class="material-icons" data-toggle="tooltip" data-placement="right" title="Manage Users" >
        people
        </i>
        </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="ledger" >
        <i class="material-icons" data-toggle="tooltip" data-placement="right" title="General Ledger">
          account_balance_wallet
          </i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="bankandcash">
        <i class="material-icons" data-toggle="tooltip" data-placement="right" title="Bank and Cash">
          account_balance
          </i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="expenses">
        <i class="material-icons" data-toggle="tooltip" data-placement="right" title="Expenses">
          money_off
          </i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="income">
        <i class="material-icons" data-toggle="tooltip" data-placement="right" title="Income">
          attach_money
          </i>
      </a>
    </li>
  </ul>
</nav>


