<div class="row">
  <div class="card col-md-4 col-xs-12 col-sm-6 col-lg-3">
    <img class="card-img-top" src=".../100px180/" alt="Manage Users">
    <div class="card-body">
      <h5 class="card-title">Manage Users</h5>
      <p class="card-text"> <br><br> </p>
      <a routerLink="manage/users" class="btn btn-primary"> Details >></a>
    </div>
  </div>


<div class="card col-md-4 col-xs-12 col-sm-6 col-lg-3">
  <img class="card-img-top" src=".../100px180/" alt="General Ledger">
  <div class="card-body">
    <h5 class="card-title">General Ledger</h5>
    <p class="card-text"><br><br></p>
    <a routerLink="ledger" class="btn btn-primary">Details >></a>
  </div>
</div>

<div class="card col-md-4 col-xs-12 col-sm-6 col-lg-3">
  <img class="card-img-top" src=".../100px180/" alt="Bank and Cash">
  <div class="card-body">
    <h5 class="card-title">Bank and Cash</h5>
    <p class="card-text">Net Balance: {{ netBalance }} </p>
    <a routerLink="bankandcash" class="btn btn-primary">Details >></a>
  </div>
</div>
</div>
<div class="row">
  <div class="card col-md-4 col-xs-12 col-sm-6 col-lg-3">
    <img class="card-img-top" src=".../100px180/" alt="Expenses">
    <div class="card-body">
      <h5 class="card-title">Expenses</h5>
      <p class="card-text"><br><br></p>
      <a routerLink="expenses" class="btn btn-primary">Details >></a>
    </div>
  </div>
<div class="card col-md-4 col-xs-12 col-sm-6 col-lg-3">
  <img class="card-img-top" src=".../100px180/" alt="Income">
  <div class="card-body">
    <h5 class="card-title">Income</h5>
    <p class="card-text"><br><br></p>
    <a routerLink="income" class="btn btn-primary">Details >></a>
  </div>
</div>
</div>