/* You can add global styles to this file, and also import other style files */
#root-container{
    display: grid;
    grid-template-columns: 70px auto;
}

#root-container #routing-content{
    padding: 30px;
}

nav{
    padding: 30px;
}